<div class="container jobs_container">
    <div class="row">
        <div class="col-xs-24 col-md-3">

        </div>
        <div class="visible-xs clearfix"></div>
        <div class="col-xs-24 col-sm-21">
            <h5>Update Credentials</h5>
            <div class="form">
                <div class="form-group">
                    <label class="control-label">Current Password</label>
                    <input required type="text" class="form-control" name="currentPw" ng-model="cred.currentPw" />
                </div>
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input required type="text" class="form-control" name="newPw" ng-model="cred.newPw" />
                </div>
                <div class="form-group">
                    <label class="control-label">New Password Confirm</label>
                    <input required type="text" class="form-control" name="newPwConfirm" ng-model="cred.newPwConfirm" />
                </div>
                <div class="form-footer">
                    <input type="button" class="btn" value="Save" ng-model="save()" />
                </div>
            </div>
        </div>
             
    </div>
</div>