<div ng-init="collapsed = 0" class="clearfix panel-workspace">              
    <div class="row">
      <div class="col-xs-24">
          <h4 ng-bind="auction.name"></h4>
          Orçamento: <span>{{auction.minBudget}}</span> até <span>{{auction.maxBudget}}</span><br>
          Data <span>{{auction.begin}}</span> até <span>{{auction.end}}</span><br>
          Pagamento <span>{{auction.payment}}</span>
          <!-- <div ng-bind-html="getContentHtml(auction.content)"></div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24">
          <div class="btn-group">
               <button bid-create auction-id="{{auction.id}}" class="btn">Bid!</button>
                <button class="btn" ui-sref="jobView({id: auction.id})">
                <i class="glyphicon glyphicon-heart"></i>
                    View
                </button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-heart"></i> Fav<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref="jobEdit({id: auction.id})">Edit</a></li>
                  <li><a href="#">Favorito</a></li>
              </ul>
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-show="auction.group">
                  <span class="badge">{{auction.jobs.length || 0}}</span> Serviços<br>
              </button>
          </div>
      </div>
    </div>
    <div accordion>  
        <div accordion-group ng-repeat="jj in auction.jobs">
            <div accordion-heading>
                <div class="row">
                    <div class="col-xs-3">
                        <img class="img-responsive pull-left" src="http://noctula.pt/wp-content/uploads/2014/03/Noctula-Consultores-1.jpg" />
                       </div>
               <div class="col-xs-15">
                   #{{$index + 1}} {{jj.name}}<br>
               </div>
               <div class="col-xs-3">
                   <input class="btn btn-default form-control" value="Max" />
                   <input class="btn btn-default form-control" value="Min" />
                </div>
                    <div class="col-xs-3">
                   <input class="btn btn-default form-control" value="Last Bid" />
                   <input class="btn btn-default form-control" value="Bid" />
                </div>
                </div>

            </div>
            <h4 ng-click="collapsed = $index">{{$index}} {{jj.name}}</h4>
            <div ng-bind-html="jj.content">
                {{jj.content}}
            </div>
        </div>
    </div>
</div>