<div class="modal-header">Create Bid</div>
<div class="modal-body">
    <p>You're gonna to big {{auctionName}}</p>
    <form class="form" name="bidCreate" novalidate>
        <fieldset>
            <legend>Create Bid</legend>
            <div class="row">
                <div class="col-xs-24 col-sm-6">
                    <label class="control-label" for="ammount">Ammount</label>
                    <div class="input-group">
                        <input type="text" name="ammount" ng-model="ammount" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-euro"></i></button>
                        </span>
                    </div>
                </div>
                <div class="visible-xs clearfix"></div>
                <div class="col-xs-24 col-sm-18">
                    <p>Bla nlo ylasd</p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>