<div class="container">
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-pills nav-stacked">
				<li class="active">
					<a href="#">
					  <span class="badge pull-right">42</span>
					  Introdução
					</a>
				</li>
				<li>
					<a href="#">
					  Jobs
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-18">

		</div>
	</div>
</div>