<div class="container">
    <div class="col-xs-24 col-md-3">
       <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
    <div class="visible-xs clearfix"></div>
    <div class="col-xs-24 col-md-21">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only">Pesquisa</label>
                <input type="text" class="form-control" data-placeholder="Pesquisar" />
            </div>
            <div class="form-group">
                <select ui-select2="searchOptions" ng-model="searchModel.category" placeholder="Categorias">
                    <option ng-repeat="c in categories">{{c}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary">Pesquisar</button>
        </form>
        <div class="panel pane-default">
            <div class="panel-body">
                <div class="clearfix">
                Jobs <a class="btn btn-primary dropdown-toggle pull-right">
                        Opções
                    </a>
                </div>
                <div class="dropdown">
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header">Ordenar</li>
                        <li><a href="#">Preço Asc</a></li>
                        <li><a href="#">Preço Desc</a></li>
                        <li><a href="#">Recentes Primeiro</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#">Exportar para PDF</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Enviar por Email</a></li>
                    </ul>
                </div>
                 
                <div class="row">
                    <div ng-repeat="j in jobs" class="col-xs-24 col-sm-8" auction-display auction="j"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>