<div class="container jobs_container">
    <div class="row">
        <div class="col-xs-1 col-sm-7">Left<br>
            <h5>Budget</h5>
        </div>
        <div class="col-xs-23 col-sm-17">
            <form class="form" name="jobCreate" novalidate>
                <fieldset>
                    <legend>Group</legend>
                    <div class="row">
                        <div class="col-xs-24">
                            <div class="form-group">
                                <label class="control-label" for="group">Group {{groups.length}}</label>
                                <select class="form-control" name="group" ng-model="group" ng-options="g.name for g in groups">
                                    <option value="">Escolha um grupo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Create new Job</legend>
                    <div class="row">
                        <div class="col-xs-24 col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="name">Nome</label>
                                <input type="text" class="form-control" name="name" ng-model="job.name" required />
                            </div>
                        </div>
                        <div class="visible-xs clearfix"></div>
                        <div class="col-xs-24 col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="reference">Reference</label>
                                <input type="text" class="form-control" name="reference" ng-model="job.reference" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-24">
                            <label class="control-label" for="content">Description</label>
                            <div text-angular text-angular-name="htmlcontent" ta-toolbar="[['h1', 'h2'],['bold', 'italics', 'underline']]"  ng-model="job.content" required>
                                <p>...</p>
                            </div>
                       </div>
                   </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-24 col-sm-12">
                      <fieldset>
                        <legend>Budget</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" for="begin">Min Budget</label>
                                <div class="input-group">
                                    <input type="text" name="minBudget" ng-model="job.minBudget" class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-euro"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="end">Max Budget</label>
                                <div class="input-group">
                                    <input type="text" name="end" ng-model="job.maxBudget" class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-euro"></i></button>
                                    </span>
                                </div>
                            </div>    
                        </div>
                      </fieldset>
                    </div>
                    <div class="visible-xs clearfix"></div>
                    <div class="col-xs-24 col-sm-12">
                        <fieldset>
                            <legend>Time Period</legend>
                            <div class="row">
                              <div class="col-xs-12">
                                  <label class="control-label" for="begin">Begin</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" name="begin" ng-model="job.begin"  is-open="beginOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                      <button class="btn btn-default" ng-click="beginOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                              </div>           
                              <div class="col-xs-12">
                                  <label class="control-label" for="end">End</label>
                                  <div class="input-group">
                                      <input type="text" name="end" ng-model="job.end" datepicker-popup="dd-MMMM-yyyy" class="form-control" is-open="endOpened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                      <span class="input-group-btn">
                                          <button class="btn btn-default" ng-click="endOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                  </div>
                              </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn" ng-click="create()">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>