<div class="container jobs_container">
    <div class="row">
        <div class="col-xs-1 col-sm-7">Left<br>
            <h5>Budget</h5>
        </div>
        <div class="col-xs-23 col-sm-17">
            <form class="form" name="jobCreate" novalidate>
                <fieldset>
                    <legend>Group</legend>
                    <div class="row" ng-show="hasGroup()">
                        <div class="col-xs-24">
                            <div class="form-group">
                                {{group}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="!hasGroup()">
                        <div class="col-xs-24">
                            <div class="form-group">
                                <label class="control-label" for="group">Group</label>
                                <select class="form-control" name="group" ng-model="group">
                                    <option selected="selected" value="null">Don't associate with any group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Create new Job</legend>
                    <div class="row">
                        <div class="col-xs-24 col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="name">Nome</label>
                                <input type="text" class="form-control" name="name" ng-model="job.name" required />
                            </div>
                        </div>
                        <div class="visible-xs clearfix"></div>
                        <div class="col-xs-24 col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="reference">Reference</label>
                                <input type="text" class="form-control" name="reference" ng-model="job.reference" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-24">
                            <label class="control-label" for="content">Description</label>
                            <div text-angular text-angular-name="htmlcontent" ta-toolbar="[['h1', 'h2'],['bold', 'italics']]"  ng-model="job.content" required>
                                <p>...</p>
                            </div>
                       </div>
                   </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-24 col-sm-12">
                      <fieldset>
                        <legend>Budget</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label" for="begin">Min Budget</label>
                                <div class="input-group">
                                    <input type="text" name="minBudget" ng-model="job.minBudget" class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-euro"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="control-label" for="end">Max Budget</label>
                                <div class="input-group">
                                    <input type="text" name="end" ng-model="job.maxBudget" class="form-control" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-euro"></i></button>
                                    </span>
                                </div>
                            </div>    
                        </div>
                      </fieldset>
                    </div>
                    <div class="visible-xs clearfix"></div>
                    <div class="col-xs-24 col-sm-12">
                        <fieldset>
                            <legend>Time Period</legend>
                            <div class="row">
                              <div class="col-xs-12">
                                  <label class="control-label" for="begin">Begin</label>
                                  <div>{{job.begin}}</div>
                              </div>           
                              <div class="col-xs-12">
                                  <label class="control-label" for="end">End</label>
                                  <div>{{job.end}}</div>
                              </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn" ng-click="save()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>