<div class="container jobs_container">
        <div class="row">
            <div class="col-xs-24 col-sm-7">
                <div class="jumbotron">
                <h5>Group</h5>
                <p>Groups allow you to auction multiple services at once.</p>
                <p>You are able to: </p>
                <ul>
                    <li>Notify various users interested</li>
                </ul>
                <p>You'll love it!</p>
                </div>
            </div>
            <div class="visible-xs clearfix"></div>
            <div class="col-xs-24 col-sm-17">
                <form novalidate class="form" name="groupCreate">
                    <fieldset>
                        <legend>Job Description</legend>
                        <div class="row">
                            <div class="col-xs-24 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="name">Name</label>
                                    <input type="text" class="form-control" name="name" ng-model="group.name" required />
                                </div>
                            </div>
                            <div class="visible-xs clearfix"></div>          
                            <div class="col-xs-24 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Tags</label>
                                    <input type="text" class="form-control" name="name" ng-model="group.tags" required />
                                </div>
                            </div><div class="col-xs-24 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Other</label>
                                    <input type="text" class="form-control" name="name" ng-model="group.other" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-24">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <div text-angular text-angular-name="htmlcontent" ta-toolbar="[['h1', 'h2'],['bold', 'italics']]"  ng-model="group.content">
                                        <p>Descrição detalhada de todo o <b>Workspace</b>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button ng-click="create()" class="btn">Create</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
</div>