<div class="container jobs_container">
    <div class="row">
        <div ng-repeat="a in auctions">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <b>Name</b> {{a.name}}
                </div>
                <div class="col-xs-12 col-sm-4">
                    
                </div>
                <div class="visible-xs clearfix"></div>
            </div>
            <div class="row">
                <div class="col-xs-24">
                    {{a.content}}
                </div>
            </div>
        </div>
        </div>
    <div class="row">
    <ul class="pagination">
         <li class="disabled"><a href="#">&laquo;</a></li>
         <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
         <li><a href="#">2 </a></li>
    </ul>
        </div>
</ul>
</div>