<div class="container jobs_container">
    <div class="row">
        <div class="col-xs-18">
            <h4>Perfil</h4>
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="https://yt3.ggpht.com/-dAk55ZJbXsQ/AAAAAAAAAAI/AAAAAAAAAAA/KVMnwyTjLw4/s88-c-k-no/photo.jpg"/>
                </div>
                <div class="col-xs-20">
                    <div class="row"> 
                    <label class="control-label">Nome</label> Carlos Guilherme Magalhães Cardoso
                    </div>
                    <div class="row">
                        <label class="control-label">Data de Nascimento</label> 26 de Janeiro de 1991
                    </div>
                    <div class="row">
                        <label class="control-label">Data de Nascimento</label> 26 de Janeiro de 1991
                    </div>
                </div>
            </div>
            <h4>Comentários</h4>
            <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="https://lh6.googleusercontent.com/-hHdgwv1KD7Y/AAAAAAAAAAI/AAAAAAAAADM/cqpgH7i6048/s80-c/photo.jpg" alt="...">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Sandra Nunes</h4>
                  <small>05 de Março 08:30</small> <rating ng-init="rate = 8" value="rate" max="10" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating><br>
                  <p>Excelente profissional!<br>Já realizei mais de 20 projectos e nunca se atrasou.</p>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="https://yt3.ggpht.com/-dAk55ZJbXsQ/AAAAAAAAAAI/AAAAAAAAAAA/KVMnwyTjLw4/s88-c-k-no/photo.jpg" alt="...">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Guilherme Cardoso</h4>
                      <small>05 de Março 08:30</small><br>
                      <p>Obrigado pela recomendação!</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h4>Últimos Feitos</h4
            <div class="list-group">
                <a href="#" class="list-group-item">Trabalho 1</a>
                <a href="#" class="list-group-item">Trabalho 1</a>
                <a href="#" class="list-group-item">Trabalho 1</a>
                <a href="#" class="list-group-item">Trabalho 1</a>
            </div>
        </div>
    </div>
</div>