<div class="container jobs_container">
    <div class="col-md-16">
    <tabset>
        <tab>
            <tab-heading>Profile Settings</tab-heading>
            <form novalidate class="form-horizontal" ng-submit="saveBasicInfo()">
                 <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">First Name</label>
                        <input required type="text" class="form-control" ng-model="basicInfo.firstName" />
                    </div>       
                    <div class="col-md-12">
                   
                        <label class="control-label">Last Name</label>
                        <input required type="text" class="form-control" ng-model="basicInfo.lastName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Birthday</label>                        
                        <p class="input-group">
                            <input type="text" class="form-control" ng-model="begin" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                       </p>
                        
                    </div>       
                    <div class="col-md-12">
                   
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" ng-model="user.lastName" />
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn btn-primary">Guardar Alterações</button>
                </div>
            </form>
        </tab>
        <tab>
            <tab-heading>Privacy</tab-heading>
            <form class="form-horizontal">
                <div class="form-group">
                    
                </div>
            </form>
        </tab>
    </tabset>
    </div>
    <div class="col-md-8">Help?!</div>
</div>