<div class="container">
     <form novalidate class="form-inline navbar-right" role="search">
        <div class="form-group">
          <input required data-ng-model="login.email" type="text" class="form-control" placeholder="Nickhandler" />
        </div>
          <div class="form-group">
              <input required data-ng-model="login.password" type="text" class="form-control" placeholder="Password" />
          </div>
        <button type="button" ng-click="login()" class="btn btn-default">Login</button>
            <a href="#" >Recuperar Conta</a>
    </form>0
</div>
<div class="container">
	<div class="container">
            <div class="col-xs-24 col-md-12">
                <div class="jumbotron">
                    Registados {{totalRegistered}}<br>
                    Trabalhos criados {{totalJobsFinished}}<br>
                    <p>Foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo .</p>
                    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
                </div>
            </div>
            <div class="visible-xs clearfix"></div>
             <div class="col-xs-24 col-md-12">
                    <h3>Registo</h3>
			<div class="form j-form">
                            <div class="col-xs-24 col-sm-12">
				<div class="form-group">
                                    <label class="control-label" for="registerName">First Name</label>
                                    <input type="text" class="form-control" name="registerName" data-ng-model="register.firstName" />
				</div>
                            </div>
                            <div class="visible-xs clearfix"></div>
                            <div class="col-xs-24 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="registerLastName">Last Name</label>
                                    <input type="text" class="form-control" name="registerLastName" data-ng-model="register.lastName" />
				</div>
                            </div>
                            <div class="visible-xs clearfix"></div>
                            <div class="col-xs-24 col-sm-12">
				<div class="form-group">
                                    <label class="control-label" for="registerEmail" >Email</label>
                                    <input type="text" class="form-control" name="registerEmail" data-ng-model="register.email" />
				</div>
                            </div>
                            <div class="visible-xs clearfix"></div>
                            <div class="col-xs-24 col-sm-12">
                                <label class="control-label" for="registerBirthday">Nascimento</label>
                                <input type="text" class="form-control" name="registerBithday" data-ng-model="register.birthday" />
                            </div>
                            <div class="visible-xs clearfix"></div>
                            <div class="col-xs-24 col-sm-12">
				<div class="form-group">
                                    <label class="control-label" for="registerPassword">Password</label>
                                    <input type="text" name="registerPassword" class="form-control" data-ng-model="register.password" />
				</div>
                            </div>
                            <div class="visible-xs clearfix"></div>
                            <div class="col-xs-24 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="registerPassword">Password Confirm</label>
                                    <input type="text" name="registerPassword" class="form-control" data-ng-model="register.passwordConfirm" />
				</div>
                            </div> 
                            <div class="row">
                                <script type="IN/Login" data-onAuth="onLinkedInAuth"></script>
                                <input ng-click="register()" type="button" class="btn btn-primary" value="Entrar" />
                            </div>
			</div>
                </div>
	</div>
</div>